.cards-container {
  padding: 0px 30px 0px 30px;
  width: 40vw;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  height: 250px;
  margin: 0px 8px 32px 13px;
  position: relative;
  border-radius: 8px;
  opacity: 1;
}

.card:hover {
  opacity: 0.7;
}

.card-text {
  margin-top: 15px;
  margin-left: 5px;
}

.card-img-top {
  border-radius: 8px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 170px;
  background-size: cover;
  background-position: center;
}

.card-img-map {
  width: 128px;
  margin-left: -10px;
}
.form-inline {
  border-radius: 8px 0px 0px 8px;
  height: 50px;
  width: 400px;
  margin-left: 70px;
  border: 1px solid #124A72;
}

.search-index {
  margin-top: 90px;
  margin-bottom: 90px;
}

.name {
  color: $success;
  font-family: $body-font;
  font-size: 15px;
  padding: 2px 16px;
  line-height: 2px;
  font-weight: bold;
}

.address {
  color: rgba(0,0,0,0.8);
  font-family: $body-font;
  font-size: 13px;
  padding: 2px 16px;
}
.card-padding {
 padding-left: 31px;
 padding-bottom: 13px;

}
.cardsmapcontainer {
  display: flex;
  width: 100vw;
}
.cards-container {
  margin-left: 5px;
}
.search-pets {
  border-radius: 0px 8px 8px 0px;
}
.map {
  width: 55vw;
  height: 500px;
  position: sticky;
  top: 120px;
  margin-left: 15px;
  margin-right: 15px;
}
#map {
   border-radius: 8px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   width: 100%;
   height: 600px;
}
.right-index {
  margin-top: 85px;
  margin-bottom: -40px;
  margin-left: 117px;
}
.left-index {
  margin-top: 140px;
  margin-bottom: -50px;
  margin-left: 60px;
}
.dropbtn {
  background-color: #124A72;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #5a7c94;
}

.mapboxgl-popup-content {
  border-radius: 8px;
  width: 175px;
  text-align: center;
}
.pet-breed {
margin-left: 10px;
}
.popup-container {

}
@media only screen and (max-width: 768px) {
    .left-index {
    margin-top: 80px;
    margin-bottom: -30px;
    display: none;
    margin-left: 0;
  }
    .cardsmapcontainer {
    display: block;
    width: 100vw;
    height: fit-content;
  }
    .map {
    width: 100vw;
    height: fit-content;
    position: static;
  }
    #map {
      width: 100%;
      height: 600px;
    }
    .cards-container {
      display: none;
      padding: 0px 20px 0px 20px;
      width: 100vw;
      text-align: center;
    }
    .search-index {
      margin-top: 50px;
      margin-bottom: 50px;
    }
}

.dropdown-filter {
  background-color: #124A72;
  color: white;
  padding: 15px 35px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  max-width: 200px;
  text-align: center;
}














