// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// FYPet Colors
$fypet-cto-color: #E6455A;
$text-headers-color: #124A72;
$navbar-links-color: #FFFFFF;
$navbar-bg-color: #FFD4CF;
$title-text-card-color: #000000;
$subtitle-text-card-color: #7A7A7A;
$banner-bg-color: #E7C1B7;
$boddy-bg-color: #fff3f0;