h3 {
  font-weight: 600;
  font-size: 32px;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
}

.edit-boxes {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
}

.form-control {
  background-color: transparent !important;
  border: none;
  border-bottom: 1px solid #E6455A;
}

.edit-page {
  background-color: white;
}

.btn {
  background-color: #E6455A;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
}

.cancel {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  align-text: center;
}
