// Import page-specific CSS files here.
@import "home";

.cards-container {
  padding: 0px 30px 0px 30px;
  width: 40vw;
}

.card {
  background-image: url('https://unsplash.com/photos/N04FIfHhv_k');
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 250px;
  height: 250px;
  margin: 0px 8px 25px -4px;
  position: relative;
  border-radius: 8px;
  opacity: 1;
}

.card:hover {
  opacity: 0.7;
}
.card-text {
  margin-top: 15px;
}
.dropdown-index {
  margin-left: 30px;
  margin-top: 90px;
  margin-bottom: 90px;
}
.dropdown-row {
  margin-left: 40px;
}
.name {
  font-color: black;
  font-family: $body-font;
  font-size: 15px;
  padding: 2px 16px;
}

.address {
  font-color: grey;
  font-family: $body-font;
  font-size: 15px;
  padding: 2px 16px;
}
.cardsmapcontainer {
  display: flex;
  width: 100vw;
}
.map {
  width: 50vw;
  height: 500px;
  position: sticky;
  top: 10px;
}
