<div class="container">
  <div class="new-form">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <h3>Pet Details for New Report</h3>
        <p>In order to start a new report, we need the pet's info. Please fill up this form.</p>

          <!-- This is the call to _pet_form.html.erb -->
          <%= render 'pet_form' %>
          <!-- Here it returns the flow -->

      </div>
    </div>
  </div>
</div>
