<div class="container">
  <div class="main-form">
    <h3>Pet Details for New Report</h3>
    <p>In order to start a new report, we need the pet's info. Please fill up this form.</p>
    <%= render 'pet_form' %>
  </div>
</div>