<div class="container card-large">
  <div class="row align-items-start">
    <div class="col-4 img-card">
      <div class="report-status"><p>Missing</p></div>
      <input class="attachment" type="file" id="exampleFormControlFile1">
    </div>

    <div class="col-8 pet-card">
      <div>
        <%= render "form" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8 report-card">
  </div>
</div>
