<div class="container card-large">
  <div class="container">
    <div class="col-4 img-card">
      <div class="report-status"><p>Missing</p></div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
    </div>

    <div class="col-12 pet-card">
      <div>
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>

