<div class="container">
  <div class="banner">
    <h1>Reunite with your pet</h1>
    <a href="#" class="btn btn-primary fypet-nav-item">Find My Pet</a>
  </div>
  <div class="text-center">
    <h2>Recently Reunited Pets â¤</h2>
  </div>
  <div class="row">
    <div class="col-4">
      <h2>Cards here!</h2>
    </div>
  </div>
</div>