.banner {
  height: 440px;
  background-size: cover;
  background-position: center;
  padding: 180px 0;
  margin-bottom: 25px;
  align-content: center;
}

.banner h1 {
  margin: 0 0 20px 0;
  color: $text-headers-color;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
  font-size: 4rem;
  font-weight: 700;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}