.banner {
  height: 400px;
  background-size: cover;
  background-position: center;
  padding: 140px 0;
  margin-bottom: 25px;
  align-content: center;
}

.banner h1 {
  margin: 0 0 20px 0;
  color: $primary;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 0;
  text-shadow: 2px 2px 4px rgba(255,255,255,0.8);
}

.banner p {
  font-size: 25px;
  margin-top: 10px;
  font-weight: bold;
  margin-left: 65px;
  color: $text-headers-color;
  text-shadow: 2px 2px 4px rgba(255,255,255,0.8);
}
