.btn-fypet {
  padding: 10px 80px;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
  margin-left: 45px;
  margin-top: 25px;
}
.btn-fypet-myreport {
  padding: 10px 80px;
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 80px;
}
.btn-wide {
  width: 120px;
}
input#btn-login {
  width: 100%;
}
input#btn-signup {
  margin-right: 15px;
}
input#btn-safesound {
  margin: 0 15px;
}
