// For the GRID of cards
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 56px;
  margin-top: 25px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-pet {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba($text-headers-color,0.35);
  border-radius: 8px;
  opacity: 1;
}
.card-pet:hover {
  opacity: 0.7;
}
.card-pet-img {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.card-pet h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
}

.card-pet p {
  font-size: 1rem;
  opacity: .7;
  margin: 0;
}

.card-pet .card-pet-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
