.main-form {
  margin: 110px auto;
  padding: 20px;
}

.main-form > input {
  direction: row;
}

.main-form .btn-primary {
  margin: 0 5px 10px 10px;
}

.main-form .btn-primary.first-child {
  margin: 0 0px 10px 10px;
}