.fypet-navbar {
  position: fixed;
  top: 0;
  height: 90px;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
  background-color: transparent;
  transition: 0.8s background-color ease;
  z-index: 10;
}

.fypet-navbar-colored {
  background-color: $navbar-bg-color;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.fypet-navbar .navbar-collapse {
  flex-grow: 0;
}

.fypet-navbar .navbar-brand img {
  width: 40px;
}

.fypet-text {
  display: flex;
  align-items: baseline;
  i {
    font-size: 2rem;
    color: $text-headers-color;
    margin-right: 8px;
  }
  h2 {
    font-family: $headers-font;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.fypet-nav-item {
  font-family: $headers-font;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 15px;
  :hover {
    text-decoration: none;
  }
  span {
    margin-left: 8px;
  }
}

.fypet-nav-link {
  color: #124A72;
}
.fypet-nav-link:hover {
  color: #E6455A;
}

.fypet-navbar-nav {
  align-items: center;
}

.fypet-dropdown-item {
  font-family: $headers-font;
  font-weight: 600;
  font-size: 1.2rem;
  color: $text-headers-color;
}
