.long-input {
  width: 400px;
}

.custom-control-label {
  font-family: "Baloo 2";
  color: #124A72;
  font-weight: 500;
  font-size: 18px;
}

.form-label {
  font-family: "Baloo 2";
  color: #124A72;
  font-weight: 500;
  font-size: 18px;
}


.form-control {
  background-color: transparent !important;
  border: none;
  border-bottom: 2px solid white;
  height: 40px;
}

.small-input {
  background-color: transparent !important;
  border: none;
  border-bottom: 2px solid white;
  height: 25px;
  width: 100px;
}
